<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>SUAI PAY</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" media="all" href="notify.css" th:href="@{notify.css}" />
  <link rel="stylesheet" type="text/css" media="all" href="reset.css" th:href="@{reset.css}" />
</head>
<!-- ниже нужно передать переменные emoji, где будет лежать эмодзи, и message, где будет лежать сообщение об ошибке или успехшной операции -->
<!-- узнать что прходит с сервера -->

<body>
  <div class="center">
    <div class="notify center">
      <span class="notify__emoji" th:text="${status ==  'success' ? 🎉 : 😿}">😿</span>
      <p class="notify__message" th:text="${message}">Не удалось оплатить</p>
    </div>
  </div>

  <!-- Footer -->
  <div class="footer__container">
    <section class="footer__items">
      <div class="footer__logos">
        <figure>
          <img src="assets/visa-icon.svg" alt="visa__icon" />
        </figure>
        <figure>
          <img src="assets/mastercard-icon.svg" alt="mcard__icon" />
        </figure>
        <figure>
          <img src="assets/mir.svg" alt="mir__icon" />
        </figure>
      </div>

      <div class="footer__secure">
        <figure class="lock__icon">
          <img src="assets/ic_lock.svg" alt="lock__icon" />
        </figure>
        <span class="secure__info">Данные банковской карты будут
          переданы в зашифрованном виде</span>
      </div>

      <div class="footer__order">Заказ №112480</div>
    </section>
  </div>
</body>

</html>



<!-- 
комиссия

отображение кнопок в оплате ?

показывать email в форме или нет


-->



<!-- 
функции для ввода данных (стильно модно молодежно)



 -->

<!-- админка
логин
показать доп кнопку оплаты ? при нажатии на нее мы отправляем токен на бэк
поле загрузки логотипа на сервак (каждому магазину)
таблица комиссий (платежная система / процент комиссии (у плетежных систем) / мин. ставка (опционально))
функция для отправки запроса на сервер (не долбим сервер) (debounce)
-->