@use '../../styles/vars'with ($width: 100%,
);

@import '../../styles/vars.scss';

//GENERAL
$footer__height: 200px;
$footer__items-margin: 50px auto;
$footer__logos-gap: 12px;
$footer__lock-margin: 5px;
$footer__text-color: #A6A6A6;
$footer__background: #F2F2F2;
$secure__info-padding: 8px;

.footer__container {
    width: $width;
    height: $footer__height;
    position: fixed;
    bottom: 0;

    background-color: $footer__background;

    .footer__items {
        margin: $footer__items-margin;

        .footer__logos,
        .footer__order,
        .footer__secure {
            @include center__flex
        }

        .footer__logos {
            gap: $footer__logos-gap;
            align-items: center;

            figure {
                @include center__flex;
            }
        }

        .footer__secure {
            figure {
                @include center__flex;
                margin: $footer__lock-margin;
            }

            .secure__info {
                color: $footer__text-color;
                padding: $secure__info-padding;
                width: 19%;
            }
        }

        .footer__order {
            color: $footer__text-color;
        }
    }
}