@import '../../styles/vars.scss';

$button__background: #ff335f;
$button__background-hover: #ff446d;
$button__background-active: #e1264f;
$button__font-weight: 500;
$button__font-size: 20px;
$button__padding: 20px;
$button__border-radius: 35px;
$button__desktop-width: 300px;

$button__background-disabled: #a6a6a6;
$button__background-disabled-hover: #7d7d7d;
$button__background-disabled-active: #7d7d7d;

$suaipay__button__background: linear-gradient(114.23deg, #19256b 14.64%, rgba(52, 78, 136, 0.7) 47.07%, #350645 80.65%);
$suaipay__button__background-hover: linear-gradient(
  114.23deg,
  #1c1c1c 14.64%,
  rgba(30, 53, 101, 0.7) 47.07%,
  #412d48 80.65%
);
$suaipay__button__background-active: linear-gradient(
  114.23deg,
  #1c1c1c 14.64%,
  rgba(15, 25, 48, 0.7) 47.07%,
  #1a141d 80.65%
);

$error-color: #ff3b30;
$placeholder-color: rgb(223, 223, 223);
$white-color: #fff;
$reset-style: none;

button {
  border-radius: $button__border-radius;
  color: $white-color;
  padding: $button__padding;
  font-size: $button__font-size;
  font-weight: $button__font-weight;
  width: $width;
  max-width: $button__desktop-width;

  &:hover,
  &:focus {
    transition: 0.3s all;
    cursor: pointer;
  }

  &:active {
    transition: 0.3s all;
  }

  &:disabled {
    background: $button__background-disabled;

    &:hover,
    &:focus {
      background: $button__background-disabled-hover;
      cursor: unset;
    }

    &:active {
      background: $button__background-disabled-active;
    }
  }
}

// .submit__button {
//   border-radius: $button__border-radius;
//   color: $white-color;
//   padding: $button__padding;
//   font-size: $button__font-size;
//   font-weight: $button__font-weight;
//   width: $width;
//   max-width: $button__desktop-width;

//   &:hover {
//     transition: 0.3s all;
//   }

//   &:active {
//     transition: 0.3s all;
//     box-shadow: $reset-style;
//   }
// }

.submit__button__disabled {
  // background: $button__background-disabled;

  // &:hover {
  //   background: $button__background-disabled-hover;
  // }

  // &:active {
  //   background: $button__background-disabled-active;
  // }
}

.submit__button__enabled {
  background: $button__background;

  &:hover,
  &:focus {
    background: $button__background-hover;
    box-shadow: 0px 1px 20px -5px $button__background;
    cursor: pointer;
  }

  &:active {
    background: $button__background-active;
  }
}

.SuaiPay__button {
  background: $suaipay__button__background;

  &:hover,
  &:focus {
    background: $suaipay__button__background-hover;
    box-shadow: 0px 1px 20px -5px rgb(0, 0, 120);
  }

  &:active {
    background: $suaipay__button__background-active;
  }
}
