@use '../../styles/vars' with (
  $form-minheight: 518px,
  $width: 100%,
  $form-maxwidth: 412px,
  $form-margin: 5vh auto,
  $form-padding: 48px 56px
);

@import '../../styles/vars.scss';

// GENERAL
$error-color: #ff3b30;
$placeholder-color: rgb(223, 223, 223);
$white-color: #fff;
$reset-style: none;

// LABEL
// $label__font-weight: 400;
// $label-color: rgb(155, 155, 155);

// INPUT
// $input__maxwidth: 300px;
// $input__minheight: 30px;
// $input__margin-bottom: 40px;
// $input__border-color: rgb(211, 211, 211);

// H1
$h1-color: rgb(88, 88, 88);
$h1-weight: 700;
$h1-size: 26px;
$h1__margin-bottom: 30px;

.unipay__form {
  padding: $form-padding;
  width: $width;
  max-width: $form-maxwidth;
  min-height: $form-minheight;
  margin: $form-margin;
  @include form__appearance;

  input:active {
    border-bottom: 1px solid $error-color;
  }

  .input__container {
    position: relative;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 30px;

    margin-bottom: 50px;
  }
}

h1 {
  font-weight: $h1-weight;
  font-size: $h1-size;
  color: $h1-color;
  margin-bottom: $h1__margin-bottom;
}

p {
  color: $error-color;
}

p::before {
  display: inline;
}

// input {
//   box-sizing: border-box;
//   width: $width;
//   max-width: $input__maxwidth;
//   min-height: $input__minheight;
//   border-bottom: 1px solid $input__border-color;
//   padding: 10px 0;

//   &::placeholder {
//     color: $placeholder-color;
//   }

//   // &:not(:placeholder-shown) {
//   //     border-bottom: 1px solid $input__border-color;
//   // }

//   &:active,
//   &:focus,
//   &:hover {
//     border-bottom: 1px solid $error-color;
//     transition: 0.3s all;
//   }

//   &:hover {
//     cursor: pointer;
//   }
// }

.amount__icon {
  position: absolute;
  top: 30px;
  left: 300px;
}

// label {
//   text-align: left;
//   color: $label-color;
//   font-weight: $label__font-weight;

//   &:hover {
//     cursor: pointer;
//   }
// }
