@use '../../styles/vars' with (
  $form-minheight: 518px,
  $width: 100%,
  $form-maxwidth: 412px,
  $form-margin: 5vh auto,
  $form-padding: 48px 56px
);

@import '../../styles/vars.scss';

// GENERAL
$error-color: #ff3b30;
$placeholder-color: rgb(223, 223, 223);
$white-color: #fff;
$reset-style: none;

// H1
$h1-color: rgb(88, 88, 88);
$h1-weight: 700;
$h1-size: 26px;
$h1__margin-bottom: 30px;

.unipay__form {
  padding: $form-padding;
  width: $width;
  max-width: $form-maxwidth;
  min-height: $form-minheight;
  margin: $form-margin;
  @include form__appearance;

  input:active {
    border-bottom: 1px solid $error-color;
  }

  .input__container {
    position: relative;
    display: grid;
    row-gap: 40px;
    margin-bottom: 50px;
  }
}

h1 {
  font-weight: $h1-weight;
  font-size: $h1-size;
  color: $h1-color;
  margin-bottom: $h1__margin-bottom;
}

.amount__icon {
  position: absolute;
  top: 30px;
  left: 300px;
}
